.container input, select{
    width: 500px !important;
}
.pages{
    display: flex;
    justify-content: center;
    margin: 10px;
}
.pages a{
    margin: 4px;
    font-size:larger;
}
.sorting select{
    margin: 10px;
}
.sorting-filter{
    display: flex;
}
.top-action{
    display: flex;
}
.top-action button, .top-action a{
    margin: 10px;
}